@import "variables";

@import url("https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap");

.app-container {
  margin-top: $size-5;
}

.white-box {
  padding: $size-8;
  background-color: $white;
}
